.navbar.bg-white {
  border-bottom: 1px solid #F7F9FA !important;
  background-color: #F7F9FA !important;
}

.role-brief img {
  width: 100% !important;
}

.btn-highlight-positive {
  color: #1abc9c !important;
  border-color: #1abc9c !important;
}

.btn-highlight-neutral {
  color: #34495e !important;
  border-color: #34495e !important;
}

.btn-highlight-negative {
  color: #e74c3c !important;
  border-color: #e74c3c !important;
}

.braintree-toggle {
  margin-bottom: 0.8rem;
}

.role-brief {
  padding-bottom: 0.5rem !important;
}

p, li, ul, ol {
  color: #292e32 !important;
}

.star-rating {
	color: orange !important;
}

.text-small {
  font-size: .875rem;
  line-height: 1.3125rem;
  color: #333 !important;
}

.remove-answer:hover {
	cursor: pointer;
}

.remove-file:hover {
	cursor: pointer;
}

.select2-container--default .select2-selection--single{
    padding:6px;
    width: 100%; 
    font-size: .875rem;
    color: #8F9294 !important;
    position: relative;
    height: 40px !important;
    border: 1px solid #E9EEF2 !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px !important;
}

.thumbnail:hover {
  opacity: 0.7;
}